*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

#root::-webkit-scrollbar{
    display: none;
}

.main{
    /* background: #EFEFEF; */
    background: transparent;
    color: white;
    font-family: Arial, sans-serif;
}

.star{
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.subject-list{
    animation: appear 5s forwards;
    position: relative;
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;

    overflow-x: scroll;
    overflow-y: scroll;

    transition: all 0.2s;
    will-change: transform;
    user-select: none;

    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.main::-webkit-scrollbar{
    display: none;
}

.subject-list::-webkit-scrollbar{
    display: none;
}

.subject-row::-webkit-scrollbar{
    display: none;
}

.subject-row{
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none; 
    scrollbar-width: none;

}

.topic{

    min-width: 200px;
    min-height: 340px;
    margin: 40px;
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    transition: 1s;

    align-items: center;
    justify-content: center;
    text-align: center;

    .topic-header{
        font-size: 2.5rem;
        margin-bottom: 15px;
        font-weight: 700;
    }

    .topic-description{
        font-size: 1.2rem;
    }
}



.mouse-shadow{
    position: absolute;
    z-index: 20;
    pointer-events: none;

    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background: white;

    filter: blur(20px);

}

.mouse-star{
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: flickier 3s infinite alternate;
    pointer-events: none;
}

@keyframes flickier{
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}


