
*{
    font-family: "Univers"
}

.App{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #010001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #A30E0B;

  margin: auto;

  width: calc(min(70vw, 92vh));
  height: calc(min(35vw, 46vh));

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeout 5s linear forwards;
  animation-delay: 5s;

}

.text{
  color: white;
  font-size: calc(min(8vw, 10.4vh));
  letter-spacing: calc(max(-0.2vw, -0.26vh));
  text-transform: uppercase;

  font-family: 'Univers';
  font-weight: 1000;

  // text-shadow: 
  //   0 0 0.2vw #ffffff,
  //   0 0 0.5vw #ffffff,
  //   0 0 1vw #ffffff,
}

.animation{
  animation: blink 1s infinite;
}

@keyframes blink{

  0%{
    opacity: 1;
  }

  95%{
    opacity: 0;
  }

}

@keyframes fadeout{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}