

*{
    font-family: "Univers"
}

.App{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #010001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.door-container{
    width: calc(min(28vw, 36vh));
    height: calc(min(63vw, 81vh));
    margin: calc(min(4vw, 5.15vh));
}

.left-door{
    background: #222;

    box-shadow: 
        0 0 7vw #888,
        0 0 11vw #888, 
        0 0 20vw #888,
        0 0 30vw #888;

    z-index: 20;

    position: absolute;
    left: calc(max(14vw, 42vw - 36vh));
    
    animation: flash-left 1.7s linear infinite, left-door-animation 57s cubic-bezier(0, 0, 0.65, 0.97) backwards;
    animation-delay: 5s;
}

@keyframes left-door-animation{
    // 0%{
    //     width: 112vw;
    //     height: 252vw;
    //     left: -6vw;
    //     z-index: 20;
    // }
    0%{
        width: 105vw;
        height: 227.25vw;
        left: -5vw;
    }

    100%{
        width: calc(min(28vw, 36vh));
        height: calc(min(63vw, 81vh));
        left: calc(max(14vw, 42vw - 36vh));
    }
}

@keyframes flash-left{
    0%{
        box-shadow: 
        0 0 7vw #888,
        0 0 11vw #888, 
        0 0 20vw #888,
        0 0 30vw #888;
    }
    50%{
        box-shadow: 
        0 0 7vw #888,
        0 0 11vw #999, 
        0 0 18vw #888,
        0 0 30vw #999;
    }
}

.right-container{
    position: absolute;
    right: calc(max(14vw, 42vw - 36vh));
}


.right-door{
    width: calc(min(28vw, 36vh));
    height: calc(min(63vw, 81vh));
    position: relative;
    
    animation: appear 25s linear backwards;
    

    animation-delay: 20s;
    cursor: pointer;

    background: #222;

    box-shadow: 
        0 0 7vw #888,
        0 0 11vw #888, 
        0 0 20vw #888,
        0 0 30vw #888;
}


@keyframes flash-right{
    0%{
        box-shadow: 
        0 0 7vw #888,
        0 0 11vw #888, 
        0 0 20vw #888,
        0 0 30vw #888;
    }
    50%{
        box-shadow: 
        0 0 7vw #888,
        0 0 11vw #666, 
        0 0 20vw #888,
        0 0 30vw #888;
    }
}



.push-box{
    position: absolute;
    right: calc(min(1.75vw,2.25vh));
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    width: calc(min(8vw, 10.5vh));
    height: calc(min(15vw, 19.5vh));
    background: conic-gradient(from 217.85deg at 115.62% 55.77%, rgba(120, 120, 120, 0.7) -243.64deg, #787878 13.43deg, rgba(120, 120, 120, 0.7) 116.36deg, #787878 373.43deg);
    border-radius: 0;

    animation: push-box-reveal 25s linear backwards;
    animation-delay: 45s;
}

@keyframes push-box-reveal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.push-text{
    color: white;
    font-size: calc(min(2.1vw, 2.7vh));
    padding-top: calc(min(1vw, 1.28vh));
    text-align: center;

    text-shadow: 
    0 0 0.2vw #ffffff,
    0 0 0.3vw #ffffff,
    0 0 0.5vw #ffffff,
    0 0 1vw #888,
    0 0 1.5vw #888;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 500px){
    .door-container{
        width: 32vw;
        height: 72vw;
    }

    .left-door{
 
        left: 10vw;
        animation: 
             flash-left 1.7s linear infinite, 
            left-door-mobile-animation 60s cubic-bezier(0, 0, 0.65, 0.97) backwards;
    }

    .right-container{
        right: 10vw;
    }

    .right-door{
        width: 32vw;
        height: 72vw;
        
    }
    .push-text{
        font-size: 8px;

        text-shadow: 
            0 0 0.1vw #ffffff,
            0 0 0.2vw #ffffff,
            0 0 0.3vw #ffffff,
            0 0 0.5vw #888,
            0 0 1vw #888;
    }
}

@keyframes left-door-mobile-animation{
    0%{
        width: 105vw;
        height: 227.25vw;
        left: -5vw;
        z-index: 20;
    }

    100%{
        width: 32vw;
        height: 72vw;
        left: 10vw;
        z-index: 10;
    }
}

.subtitle{
    font-size: 1.3rem;
    width: 80vw;
    color: white;
    position: absolute;
    bottom: 3vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 100;
    animation: blink 1s infinite;
    animation-delay: 73s;
}

@keyframes blink{

    0%{
      opacity: 1;
    }
  
    95%{
      opacity: 0;
    }
  
  }

.temp{
    font-size: 2rem;
    color: white;
    z-index: 100;
}